<% admin_breadcrumb(link_to t('.title'), admin_trade_stores_path) %>
<% admin_breadcrumb(t('.edit_store')) %>

<div data-hook="admin_user_new_form_header">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @store } %>
</div>

<div data-hook="admin_store_edit_form">
  <%= form_for [:admin, @store], as: :store, url: admin_trade_store_url(@store), method: :put do |f| %>
    <fieldset class="no-border-top">
      <%= render partial: 'form', locals: { f: f } %>
      <%= render partial: 'spree/admin/shared/edit_resource_links', locals: { collection_url: admin_trade_stores_url } %>
    </fieldset>
  <% end %>
</div>